@{
    ViewData["Title"] = "Confirmação para apagar";
}


<div class="text-center">
    <h3 class="display-4">Deseja realmente APAGAR PARA SEMPRE o contato _NomeDoContato?</h1>
    <a class="btn btn-primary btn-block" asp-controller="Contato" asp-action="Index" role="button">Cancelar</a>
    <a class="btn btn-danger btn-block" asp-controller="Contato" asp-action="Index" role="button">Confirmar</a>
</div>