@{
    ViewData["Title"] = "Listagem de contatos Editar";
}

<div class="text-center">
    <h1 class="display-4">Editar Contato</h1>
</div>

    <form>

        <div class="mb-3">
            <label for="name" class="form-label">Nome:</label>
            <input type="text" class="form-control" id="exampleInputPassword1" placeHolder = "Digite o nome do contato">
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeHolder = "Digite o email do contato">
        </div>

         <div class="mb-3">
            <label for="tel" class="form-label">Telefone:</label>
            <input type="number" class="form-control" id="exampleInputPassword1" placeHolder = "Digite o numero do contato">
        </div>

        <button type="submit" class="btn btn-success">Salvar</button>
         <a class="btn btn-primary" asp-controller="Contato" asp-action="Index" role="button">Cancelar</a>
    </form>
